.filterCategory-container {
    padding-left: 20px;
    height: 250px;

}

.filterCategory-container h3 {
    border-bottom: 2px solid #ccc;
    width: 250px;
    cursor: pointer;

}

.filterCategory-container i {
    position: relative;
    top: 5px;
    left: 133px;
    font-size: 28px;
}

.category-list {
    margin-top: 20px;
    padding-left: 12px;

}

.category-item:hover {
    border-bottom: 2px solid orange;
    width: 125px;
    cursor: pointer;
    
  

}